*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
 height:100%;
 width:100%;
 background-color: rgba(70, 68, 68, 0.308);
}

.container{
height:80px;
width:100%;
background-color:grey;
display:flex;
justify-content:center;
align-items:center;
gap:10px;
border:2px solid black;
}

h2{
    font-size: 30px;
}
label{
 font-size:20px;
 font-family:times new roman;
}

input{
border:2px solid black;
height:30px;
border-radius:6px;
}
/* 
.result{
 font-size:20px;
 font-family:times new roman;
 background-color:blue;
 border-radius:6px;
} */