*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
    
body,html{
     height:100%;
     width:100%;
     background-color: black;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    mix-blend-mode: difference;
    transition: all linear 0.6;
}

.main h1{
    font-size: 7vw;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}